<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="btn btn-sm btn-outline-info mx-auto" style="width: 100px;"><a href="/http/index.html" >网站</a></button>
<p></p>
<button class="btn btn-sm btn-outline-info mx-auto" style="width: 100px;"><a href="/db/index.html">数据库</a></button>
<p></p>
<button class="btn btn-sm btn-outline-info mx-auto" style="width: 100px;"><a href="/dbconf/index.html">数据库配置</a></button>
<p></p>
<button class="btn btn-sm btn-outline-info mx-auto" style="width: 100px;"><a href="/guize/index.html">规则列表</a></button>
</body>
</html>