<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 引入Bootstrap CSS -->
    {css href="/static/css/bootstrap.min.css"}
    {css href="/static/css/style.css"}

    <!-- 移动设备优先-->
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit-no">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!-- 引入js文件 -->
{js href="/static/js/jquery-3.3.1.min.js"}
{js href="/static/js/bootstrap.bundle.min.js"}



<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!--菜单-->
            {include file='public/menu' /}
        </div>
        <div class="col-10">
            <table class="table">
                <thead>

                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">标签</th>
                    <th scope="col">正则表达式</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>

                {volist id="obj" name="list"}
                <tr>
                    <th scope="row">{$obj.id}</th>
                    <th scope="row">{$obj.biaoqian}</th>
                    <td><textarea class="form-control" disabled="disabled">{$obj.guize}</textarea></td>
                    <td>{$obj.creation}</td>
                    <td>
                        <a href="{:url('/guize/edit',['id'=>$obj['id']])}" class="btn btn-sm btn-outline-info">编辑</a>
                        <a href=""  class="btn btn-sm btn-outline-danger">删除</a>
                    </td>
                </tr>
                {/volist}

                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>