<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 引入Bootstrap CSS -->
    {css href="/static/css/bootstrap.min.css"}
    {css href="/static/css/style.css"}

    <!-- 移动设备优先-->
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit-no">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!-- 引入js文件 -->
{js href="/static/js/jquery-3.3.1.min.js"}
{js href="/static/js/bootstrap.bundle.min.js"}

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!--菜单-->
            {include file='public/menu' /}
        </div>
        <div class="col-10">
            <h3>添加数据库</h3>
            <form action="{:url('dbconf/create_time')}" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="db_address" class="form-control" placeholder="数据库地址"
                           aria-label="Username">
                    <input type="text" name="db_post" class="form-control" placeholder="端口">
                </div>

                <div class="input-group mb-3">
                    <input type="text" name="db_user" class="form-control" placeholder="用户名" aria-label="Username"
                           aria-describedby="basic-addon1">
                    <input type="pass" name="db_pass" class="form-control" placeholder="密码">
                </div>
                <button  class="btn btn-sm btn-outline-info">添加数据库</button>
            </form>
            <table class="table">
                <thead>

                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">数据库地址:端口</th>
                    <th scope="col">数据库名</th>
                    <th scope="col">用户名</th>
                    <th scope="col">密码</th>
                    <th scope="col">测试连接</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist id="obj" name="list"}
                <tr>
                    <th scope="row">{$obj.id}</th>
                    <td>{$obj.db_address}:{$obj.db_post}</td>
                    <td>{$obj.db_name}</td>
                    <td>{$obj.db_user}</td>
                    <td>{$obj.db_pass}</td>
<!--                    <td><a href="{:url('/dbconf/queryDatabase',['id'=>$obj['id']])}" >测试连接</a></td>-->
                    <td><a href="{:url('/dbconf/queryDatabase',$obj)}"  class="btn btn-sm btn-outline-info">测试连接</a></td>
                    <td>
                        <a href="{:url('/dbconf/edit',['id'=>$obj['id']])}"  class="btn btn-sm btn-outline-info">修改</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>